.Card {
    max-width: 300px;
    background-color: var(--color-snow);
    border-radius: 8px;
    border: 1px solid var(--color-blue);
    overflow: hidden;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-4);
}

.Text {
    color: var(--color-blue);
    font-size: var(--font-size-1);
}

.CardHeader {
    color: var(--color-blue);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--space-2);
}

.Button {
    display: flex;
    width: 30px;
    padding: var(--space-2);
    align-self: flex-end;
    justify-content: center;
    background-color: var(--color-blue);
    border-radius: var(--radii-full);
}

.ButtonText {
    font-size: var(--font-size-1);
}
