.Card {
    max-width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-4);
}

.Text {
    color: var(--color-blue);
    font-size: var(--font-size-1);
}

.CardHeader {
    color: var(--color-blue);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--space-2);
}

.Button {
    display: flex;
    width: 30px;
    padding: var(--space-1);
    align-self: flex-end;
    justify-content: center;
}

.ButtonText {
    font-size: var(--font-size-1);
}
